.feeds-container {
  @import "./createfeed";
  .feed {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    flex-flow: column;
    .post {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      flex-flow: column;
      padding: 40px 40px;
      background: #646464;
      background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.151),
        rgba(255, 255, 255, 0.062)
      );
      border-radius: 2rem;
      z-index: 2;
      min-height: 50vh;
      backdrop-filter: blur(2rem);

      .post-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
        .user {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          .user-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .user-fullname-username {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              flex-direction: column;
              flex-flow: column;
              .fullname {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-transform: capitalize;
                color: #e6e6e6;
                gap: 8px;
                &:hover {
                  color: #f8f6f6;
                }
                .verified-badge {
                  .badge {
                    color: #ae6efe;
                  }
                }
              }
              .username {
                text-transform: lowercase;
                color: rgb(182, 181, 181);
              }
            }
          }
          .profile-pic {
            width: 70px;
            height: 70px;
            .img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
              object-fit: cover;
              object-position: top;
            }
          }
        }
        .timestamp-options {
          .options {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            // position: absolute;
            // top: 50px;
            // right: 70px;
            .menu {
              display: flex;
              justify-content: center;
              gap: 3px;
              align-self: center;
              // flex-direction: column;
              // height: 4vh;
              cursor: pointer;
              width: 30px;
              .menu-bar {
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background: #ffffff;
              }
            }
          }
          .timestamp {
            position: relative;
            top: 10px;
            span {
              color: rgb(182, 181, 181);
              font-size: 15px;
            }
          }
        }
      }
      .post-content {
        cursor: pointer;
        padding-left: 70px;
        padding-right: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 600px;
        object-fit: cover;
        word-break: break-all;
      }
      .post-actions {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        margin: 30px 0;
        top: 100%;
        .action {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100px;
          text-align: center;
          background: transparent;
          cursor: pointer;
          border: none;
        }
        span {
          font-size: 12px;
        }
      }
      .commenting-input-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: #363636;
        border-radius: 30px;
        .commenting {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          .profile-pic {
            width: 40px;
            height: 40px;
            .profile-img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
              object-fit: cover;
              object-position: top;
            }
          }
          .comment-input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .text {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              flex: 1;
              .comment-input-field {
                resize: none;
                column-count: 80;
                color: #ffffff;
                outline: none;
                padding-top: 10px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 10px;
                background: #363636;
                border: none;
              }
            }

            .action-btns {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              flex: 0.2;
              button {
                background: transparent;
                border: none;
                cursor: pointer;
                .icon {
                  font-size: 20px;
                }
                .clip {
                  color: #a0a0a0;
                }
                .emoji {
                  color: #fae636;
                }
              }
              .submit-comment {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #073350;
                width: 35px;
                height: 35px;
                border-radius: 100%;
                text-align: center;
              }
            }
          }
        }
      }
      .comments-section {
        display: flex;
        justify-content: space-around;
        align-self: center;
        flex-direction: column;
        flex-flow: column;
        width: 100%;
        padding-top: 30px;
        gap: 10px;
        .comment {
          display: flex;
          justify-content: left;
          align-self: center;
          width: 100%;
          gap: 10px;
          .commentor-profile-pic {
            width: 40px;
            height: 40px;
            .profile-img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
              object-fit: cover;
              object-position: top;
            }
          }
          .comment-contents-box {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: column;
            flex-direction: column;
            min-height: 10vh;
            .comment-contents {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              .comment-vote {
                .vote {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 5px;
                  .votes-count {
                    font-size: 12px;
                    background: #07500d;
                  }
                }
              }
            }
            .commentor-details {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-flow: column;
              flex-direction: column;
              min-height: 7vh;
              padding: 3px 10px;
              border-radius: 10px;
              background: #363636;
              .commentor-name {
                .comment-fullname {
                  font-size: 12px;
                }
              }
              .comment-text {
                word-break: break-all;
                max-width: 400px;
                .comment-content-text {
                  font-size: 14px;
                }
              }
            }
            .comment-actions {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              .comment-action {
                background: transparent;
                border: none;
                cursor: pointer;
                color: #dbdbdb;
              }
            }
          }
        }
      }
    }
  }
}
