* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-fullscreen-container {
  position: fixed;
  top: 10vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  z-index: 300;
  .login-container {
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.151),
      rgba(255, 255, 255, 0.062)
    );
    border-radius: 10px;
    width: 30%;
    min-height: 50vh;
    .cancel {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background: transparent;
      font-size: 30px;
      cursor: pointer;
      border: none;
    }
    .login-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      height: 100%;
      gap: 30px;
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input {
          border: none;
          height: 40px;
          background: transparent;
          border-bottom: 1px solid #c869ff;
          color: #ffffff;
          outline: none;
          transition: 0.2s linear;
          &:focus {
            border-bottom: 2px solid #db9dff;
          }
        }
        span {
          color: #ff9f9f;
          letter-spacing: 1px;
          font-size: 15px;
          font-style: italic;
        }
        .login-signup-btn {
          position: relative;
          top: 30px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          gap: 8px;
          .login-btn {
            text-align: center;
            background: #4a3dff;
            color: #ffffff;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
          }
          p {
            font-style: italic;
            color: #b3b3b3;
          }
          .signup {
            text-decoration: none;
            color: #7269ec;
            font-size: 15px;
          }
        }
      }
    }
  }
}
