* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #313131;
}

#app {
  background: #313131;
  color: #ffffff;
}

#app button {
  color: #ffffff;
}

.body-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.body-container .feeds-container {
  margin-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
  flex: 4;
}

.body-container .feeds-detail {
  position: relative;
  top: 65px;
  margin-top: 0;
  padding-right: 0;
  flex: 5;
  padding-left: 20px;
}

.body-container .profile-details-container {
  flex: 5;
}

.body-container .right-nav-links {
  flex: 1;
  padding-top: 100px;
  padding-right: 30px;
}

.body-container .left-nav-links {
  flex: 1;
  padding-top: 100px;
  padding-left: 30px;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vh;
  z-index: 100;
  background: #313131;
  margin-bottom: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.158);
}

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}

.header nav .left-nav-controller {
  flex: 1;
}

.header nav .left-nav-controller .menu {
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-direction: column;
  height: 5vh;
  cursor: pointer;
  width: 5px;
}

.header nav .left-nav-controller .menu .menu-bar {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 100%;
  background: #ffffff;
}

.header nav .logo {
  flex: 1;
}

.header nav .authentication-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.header nav .authentication-links .auth-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex: 0;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container {
  position: relative;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .user-profile-pic {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .user-profile-pic .profile-img {
  width: 100%;
  height: 100%;
  border: 1px solid #b66cff;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container:hover .auth-user-nav-actions {
  height: 30vh;
  opacity: 1;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container:hover .auth-user-nav-actions .profile-img {
  display: flex;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container:hover .auth-user-nav-actions .auth-user-names {
  display: flex;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container:hover .auth-user-nav-actions .actions {
  display: flex;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions {
  position: absolute;
  left: -255px;
  top: 8vh;
  transition: 0.3s linear;
  opacity: 0;
  border-radius: 10px;
  border-top-right-radius: 0;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.336), rgba(255, 255, 255, 0.062));
  backdrop-filter: blur(2rem);
  height: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions .linker {
  position: absolute;
  top: -15px;
  right: 0;
  width: 40px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  height: 15px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.336), rgba(255, 255, 255, 0.336));
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions .profile-img {
  display: none;
  position: relative;
  top: 10px;
  width: 80px;
  height: 80px;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions .profile-img .img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions .auth-user-names {
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions .actions {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10vh;
  backdrop-filter: blur(4rem);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions .actions .action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions .actions .action .action-icon {
  background: #363636;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
}

.header nav .authentication-links .auth-user .auth-description .auth-user-credentials-container .auth-user-nav-actions .actions .action #description {
  color: #1b1b1b;
  font-weight: lighter;
  font-size: 12px;
}

.header nav .authentication-links .auth-user .auth-description .login-btn {
  cursor: pointer;
  background: linear-gradient(40deg, #ae6efe 21%, #b66cff 55%, #c869ff 77%);
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
}

.hidden {
  width: 3px;
  background: red;
}

.left-nav-links {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

.left-nav-links ul {
  list-style: none;
}

.left-nav-links .user-interest-details {
  width: 100%;
}

.left-nav-links .user-interest-details .interests {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  height: 20vh;
  padding-bottom: 50px;
}

.left-nav-links .user-interest-details .interests button {
  line-height: 30px;
  width: 100%;
  text-align: left;
  background: transparent;
  cursor: pointer;
  border: none;
}

.left-nav-links .blog-navigations {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 80vh;
}

.left-nav-links .blog-navigations .title {
  padding-bottom: 30px;
}

.left-nav-links .blog-navigations .navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  min-width: 80%;
  height: 50vh;
}

.left-nav-links .blog-navigations .navigation ul button {
  line-height: 30px;
  width: 100%;
  text-align: left;
  background: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: left;
  align-items: center;
}

.hide-left-nav {
  position: absolute;
  left: -1000px;
}

.right-nav-links {
  position: sticky;
  top: 0;
}

.right-nav-links .first-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(40deg, #ae6efe 10%, #b66cff 30%, #c869ff 77%);
  min-width: 200px;
  border-radius: 30px;
  min-height: 30vh;
  gap: 30px;
}

.right-nav-links .first-section .heading {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.right-nav-links .first-section .trend-post-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-flow: column;
  width: 100%;
  text-align: center;
  min-height: 10vh;
  background: rgba(0, 0, 0, 0.253);
}

.right-nav-links .first-section .trend-post-container .trend-post {
  cursor: pointer;
  color: #6efefe;
}

.right-nav-links .second-section {
  margin-top: 30px;
  width: 100%;
  border: 1px solid #c869ff;
  border-radius: 10px;
  padding: 20px;
}

.right-nav-links .second-section .blog-container .title {
  text-transform: capitalize;
}

.right-nav-links .second-section .blog-container .blog-posts {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-flow: column;
  gap: 10px;
  width: 100%;
}

.right-nav-links .second-section .blog-container .blog-posts .post {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 10vh;
  gap: 10px;
  width: 100%;
  transition: 0.3s linear;
}

.right-nav-links .second-section .blog-container .blog-posts .post:hover {
  background: #5d5761;
}

.right-nav-links .second-section .blog-container .blog-posts .post:hover .text .post-overview p {
  color: #ffffff;
}

.right-nav-links .second-section .blog-container .blog-posts .post .img-container {
  width: 140px;
  height: 70px;
}

.right-nav-links .second-section .blog-container .blog-posts .post .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-nav-links .second-section .blog-container .blog-posts .post .text {
  font-size: 15px;
  width: 60%;
  height: 10vh;
  overflow: hidden;
}

.right-nav-links .second-section .blog-container .blog-posts .post .text .post-overview p {
  color: #e4e4e4;
}

.recent-messages {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-right: 20px;
}

.recent-messages .message-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 95%;
}

.recent-messages .message-container .messages {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  flex-flow: column;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #858585;
}

.recent-messages .message-container .messages .profile-img-container {
  width: 40px;
  height: 40px;
}

.recent-messages .message-container .messages .profile-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feeds-container .post-create-container {
  background: #2e2d2d;
  background: linear-gradient(to right bottom, rgba(122, 121, 121, 0.281), rgba(107, 106, 106, 0.308));
  backdrop-filter: blur(2rem);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 680px;
  height: 30vh;
}

.feeds-container .post-create-container button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.feeds-container .post-create-container button .icon {
  font-size: 20px;
}

.feeds-container .post-create-container button .clip {
  color: #a0a0a0;
}

.feeds-container .post-create-container button .emoji {
  color: #fae636;
}

.feeds-container .post-create-container .profile-img {
  width: 80px;
  height: 80px;
}

.feeds-container .post-create-container .profile-img .img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.feeds-container .post-create-container form {
  display: flex;
  justify-content: center;
  gap: 20%;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 90%;
}

.feeds-container .post-create-container form .post-create-input {
  background: #363636;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  column-gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.feeds-container .post-create-container form .post-create-input .create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.feeds-container .post-create-container form .post-create-input .create textarea {
  resize: none;
  column-count: 80;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #363636;
  border: none;
  outline: none;
  color: #f0f0f0;
  width: 90%;
  height: 80px;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn {
  position: relative;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn .all-emoji {
  position: absolute;
  top: 25px;
  opacity: 0;
  left: -100px;
  background: #646464;
  width: 400px;
  min-height: 40px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn .all-emoji .i-emoji .emoji {
  font-size: 25px;
  color: #fae636;
  cursor: pointer;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn .all-emoji .i-emoji .emoji:hover {
  background: #363636;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn .all-emoji .i-emoji .thumbs {
  color: #8684ec;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn .all-emoji .i-emoji .fire {
  color: #fa5102;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn .all-emoji .i-emoji .pin {
  color: #eb8383;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn .all-emoji .i-emoji .angry {
  color: #ff8640;
}

.feeds-container .post-create-container form .post-create-input .create .emojis-btn .show-emojis {
  opacity: 1;
}

.feeds-container .post-create-container form .post-create-alt {
  display: flex;
  justify-content: space-evenly;
  column-gap: 150px;
  align-items: center;
  width: 100%;
}

.feeds-container .post-create-container form .post-create-alt .alt-btns {
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  align-items: center;
}

.feeds-container .post-create-container form .post-create-alt .submit-post {
  background: linear-gradient(40deg, #ae6efe 10%, #b66cff 30%, #c869ff 77%);
  width: 100px;
  height: 40px;
  border-radius: 20px;
}

.feeds-container .post-create-container form .post-create-alt .submit-post:hover {
  background: #c869ff;
}

.feeds-container .feed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  flex-flow: column;
}

.feeds-container .feed .post {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-flow: column;
  padding: 40px 40px;
  background: #646464;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.062));
  border-radius: 2rem;
  z-index: 2;
  min-height: 50vh;
  backdrop-filter: blur(2rem);
}

.feeds-container .feed .post .post-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.feeds-container .feed .post .post-user .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.feeds-container .feed .post .post-user .user .user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feeds-container .feed .post .post-user .user .user-details .user-fullname-username {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-flow: column;
}

.feeds-container .feed .post .post-user .user .user-details .user-fullname-username .fullname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  color: #e6e6e6;
  gap: 8px;
}

.feeds-container .feed .post .post-user .user .user-details .user-fullname-username .fullname:hover {
  color: #f8f6f6;
}

.feeds-container .feed .post .post-user .user .user-details .user-fullname-username .fullname .verified-badge .badge {
  color: #ae6efe;
}

.feeds-container .feed .post .post-user .user .user-details .user-fullname-username .username {
  text-transform: lowercase;
  color: #b6b5b5;
}

.feeds-container .feed .post .post-user .user .profile-pic {
  width: 70px;
  height: 70px;
}

.feeds-container .feed .post .post-user .user .profile-pic .img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.feeds-container .feed .post .post-user .timestamp-options .options {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.feeds-container .feed .post .post-user .timestamp-options .options .menu {
  display: flex;
  justify-content: center;
  gap: 3px;
  align-self: center;
  cursor: pointer;
  width: 30px;
}

.feeds-container .feed .post .post-user .timestamp-options .options .menu .menu-bar {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #ffffff;
}

.feeds-container .feed .post .post-user .timestamp-options .timestamp {
  position: relative;
  top: 10px;
}

.feeds-container .feed .post .post-user .timestamp-options .timestamp span {
  color: #b6b5b5;
  font-size: 15px;
}

.feeds-container .feed .post .post-content {
  cursor: pointer;
  padding-left: 70px;
  padding-right: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  object-fit: cover;
  word-break: break-all;
}

.feeds-container .feed .post .post-actions {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  margin: 30px 0;
  top: 100%;
}

.feeds-container .feed .post .post-actions .action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  border: none;
}

.feeds-container .feed .post .post-actions span {
  font-size: 12px;
}

.feeds-container .feed .post .commenting-input-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #363636;
  border-radius: 30px;
}

.feeds-container .feed .post .commenting-input-box .commenting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.feeds-container .feed .post .commenting-input-box .commenting .profile-pic {
  width: 40px;
  height: 40px;
}

.feeds-container .feed .post .commenting-input-box .commenting .profile-pic .profile-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input .text .comment-input-field {
  resize: none;
  column-count: 80;
  color: #ffffff;
  outline: none;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  background: #363636;
  border: none;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input .action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 0.2;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input .action-btns button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input .action-btns button .icon {
  font-size: 20px;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input .action-btns button .clip {
  color: #a0a0a0;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input .action-btns button .emoji {
  color: #fae636;
}

.feeds-container .feed .post .commenting-input-box .commenting .comment-input .action-btns .submit-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #073350;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
}

.feeds-container .feed .post .comments-section {
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-direction: column;
  flex-flow: column;
  width: 100%;
  padding-top: 30px;
  gap: 10px;
}

.feeds-container .feed .post .comments-section .comment {
  display: flex;
  justify-content: left;
  align-self: center;
  width: 100%;
  gap: 10px;
}

.feeds-container .feed .post .comments-section .comment .commentor-profile-pic {
  width: 40px;
  height: 40px;
}

.feeds-container .feed .post .comments-section .comment .commentor-profile-pic .profile-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  flex-direction: column;
  min-height: 10vh;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .comment-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .comment-contents .comment-vote .vote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .comment-contents .comment-vote .vote .votes-count {
  font-size: 12px;
  background: #07500d;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .commentor-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  flex-direction: column;
  min-height: 7vh;
  padding: 3px 10px;
  border-radius: 10px;
  background: #363636;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .commentor-details .commentor-name .comment-fullname {
  font-size: 12px;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .commentor-details .comment-text {
  word-break: break-all;
  max-width: 400px;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .commentor-details .comment-text .comment-content-text {
  font-size: 14px;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .comment-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feeds-container .feed .post .comments-section .comment .comment-contents-box .comment-actions .comment-action {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #dbdbdb;
}

.profile-details-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 65px;
  width: 100%;
}

.profile-details-container .profile-details {
  position: relative;
  width: 100%;
}

.profile-details-container .profile-details .profile-cover {
  width: 100%;
  height: 30vh;
}

.profile-details-container .profile-details .profile-cover .cover-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-details-container .profile-details .profile {
  position: relative;
  top: 20px;
  padding-left: 30px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
}

.profile-details-container .profile-details .profile .profile-picture {
  position: relative;
  top: -80px;
  width: 150px;
  height: 150px;
}

.profile-details-container .profile-details .profile .profile-picture .profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.profile-details-container .profile-details .profile .profile-info {
  width: 75%;
}

.profile-details-container .profile-details .profile .profile-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-details-container .profile-details .profile .profile-info .info .user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.profile-details-container .profile-details .profile .profile-info .info .user .name .fullname {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  text-align: center;
}

.profile-details-container .profile-details .profile .profile-info .info .user .name .fullname .user-fullname {
  color: #e6e6e6;
}

.profile-details-container .profile-details .profile .profile-info .info .user .name .fullname .verified-badge .badge {
  color: #ae6efe;
}

.profile-details-container .profile-details .profile .profile-info .info .user .name .username {
  color: #8d8d8d;
}

.profile-details-container .profile-details .profile .profile-info .info .user .others .bio {
  font-weight: lighter;
  color: #e2e2e2;
  max-width: 550px;
}

.profile-details-container .profile-details .profile .profile-info .info .action-btns {
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
}

.profile-details-container .profile-details .profile .profile-info .info .action-btns .message {
  background: transparent;
  border: 1px groove #b66cff;
  border-radius: 100%;
  height: 40px;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.profile-details-container .profile-details .profile .profile-info .info .action-btns .following-btn {
  border: none;
  background: linear-gradient(40deg, #b66cff 10%, #c869ff 30%, #ae6efe 77%);
  width: 120px;
  height: 40px;
  border-radius: 20px;
}

.profile-details-container .profile-details .profile .profile-info .info .action-btns .follow-btn {
  border: 1px groove #b66cff;
  transition: 0.2s linear;
  background: transparent;
  width: 120px;
  height: 40px;
  border-radius: 20px;
}

.profile-details-container .profile-details .profile .profile-info .info .action-btns .follow-btn:hover {
  background: #c869ff;
  cursor: pointer;
}

.profile-details-container .profile-details .profile .profile-info .web-links {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  gap: 100px;
}

.profile-details-container .profile-details .profile .profile-info .web-links .web-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.profile-details-container .profile-details .user-profile-info {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15vh;
  background: #646464;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.062));
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  z-index: 2;
  backdrop-filter: blur(2rem);
}

.profile-details-container .profile-details .user-profile-info .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-details-container .profile-details .user-profile-info .info .count {
  font-size: 35px;
  font-weight: lighter;
  font-style: oblique;
}

.profile-details-container .profile-details .user-profile-info .info .text {
  font-size: 10px;
}

.profile-details-container .feeds {
  width: 80%;
}
/*# sourceMappingURL=main.css.map */