* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.body-container .feeds-container {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.body-container .right-nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.body-container .left-nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.281);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.281);
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 50px;
}

.header nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header nav .authentication-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header nav .authentication-links .auth-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.header nav .authentication-links .auth-user .login .login-btn {
  background: #307196;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: px;
  color: #ffffff;
}

.left-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 50vh;
}

.left-nav-links ul {
  list-style: none;
}

.left-nav-links .user-interest-details {
  width: 100%;
}

.left-nav-links .user-interest-details .interests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  min-height: 14vh;
  padding-bottom: 50px;
}

.left-nav-links .user-interest-details .interests button {
  line-height: 30px;
  width: 100%;
  text-align: left;
  background: transparent;
  cursor: pointer;
  border: none;
}

.left-nav-links .blog-navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  min-height: 30vh;
}

.left-nav-links .blog-navigations .title {
  padding-bottom: 30px;
}

.left-nav-links .blog-navigations .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 80%;
  min-height: 40vh;
}

.left-nav-links .blog-navigations .navigation ul button {
  line-height: 30px;
  width: 100%;
  text-align: left;
  background: transparent;
  cursor: pointer;
  border: none;
}
/*# sourceMappingURL=main.css.map */